body {
  background-color: #F57921
}

.board {
  border: 3px solid #FFCA08;
  background-color: #398BD4;
  display: flex;
  flex-wrap: wrap;
  max-width: 330px;
}

.dice {
  margin: 6px;
  padding: 10 20 10 20;
  background-color: white;
  font-weight: 400;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

[data-clicked="true"] {
  background-color: #ACCEEC;
}
