body {
  background-color: #F57921;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  margin-bottom: 20px;
  align-self: center;
}

.board {
  border: 5px solid #FFCA08;
  background-color: #398BD4;
  display: flex;
  flex-wrap: wrap;
  max-width: 330px;
}

.dice {
  margin: 9px;
  width: 48px;
  height: 48px;
  background-color: white;
  text-align: center;

  font-weight: bolder;
  line-height: 1;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.letter {
  vertical-align: middle;
  /*display: block;*/
  margin-top: 37%;
}

.word {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20 0 20 0;
  font-weight: bold;
}

.wordTable {
  background-color: #FFCA08;
  /*border: 5px solid #FFCA08;*/
  align-self: left;
}

.wordTable tr {
  background-color: white;
  text-align: left;
  border: 5px solid red;
}

.wordTable th, .wordTable td {
  padding-left: 7px;
}


.wordTable th:nth-child(1), .wordTable td:nth-child(1){
  width: 100px;
}

.wordTable th:nth-child(2), .wordTable td:nth-child(2){
  padding: 5 5 5 5;
}

[data-clicked="true"] {
  background-color: #ACCEEC;
}
